* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* Everything ABOVE if for the whole document */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* This is for the brand's logo */
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Here we style only on the "seo" section of the brand's name */
.header h1 .seo {
  color: #d9dcd6;
}

/* Here we focus on the navigation bar */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* This is used to remove the bullet style of the list */
.header nav ul {
  list-style-type: none;
}

/* Here we change the layout of the list into a row instead of a column */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* This is for the decorative image below the header, since its decorative we dont need an alt and making it into a background image keeps the image's dimensions from altering with the size of the screen */
.hero {
  height: 800px;
  width: 100%;
  background-image: url("../images/digital-marketing-meeting.jpg");
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

/* This is for the section that contains the three cards with the main content */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Here we style each card individually, as well as their img, and h2 (found below this code block) */
.content-card {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.content-card img {
  max-height: 200px;
}

.content-card h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Fload left and right helps place the image on the left or the right side of each section */
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* This is for the section found at the side of out main content */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Here we style each block of the benefits section individually as well as their h3, and img elements (found below this code block) */
.benefit-block {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-block h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-block img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
.footer cite {
  font-style: normal;
}
